/* ===========================
   Reset
=========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   Body
=========================== */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff4e1;
    color: #333;
    line-height: 1.6;
}

/* ===========================
   Header
=========================== */

header{
    background-color: #004852;
    color: #fff4e1;
    text-align: center;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

header h1{
    font-size: 38px;
    margin-bottom: 15px;
}

/* ===========================
   Navigation
=========================== */

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff4e1;
    padding: 12px 22px;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: #fff4e1;
    color: #004852;
}

/* ===========================
   Hero Section (Flexbox)
=========================== */

.hero{
    height: 600px;

    background:
    linear-gradient(rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)),
    url("backgroud.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff4e1;

    padding: 20px;
}

.hero h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p{
    max-width: 800px;
    margin-bottom: 15px;
    font-size: 18px;
}

/* ===========================
   Button
=========================== */

button{
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 17px;

    border: none;
    border-radius: 30px;

    background-color: #004852;
    color: #fff4e1;

    cursor : pointer;

    transition : 0.3s;
}

button:hover{
    background-color: #fff4e1;
    color: #004852;
    transform: scale(1.05);
}

/* ===========================
   Features Section
=========================== */

.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    padding: 70px 40px;
}

/* ===========================
   Feature Card
=========================== */

.feature{
    width: 300px;
    background: #fff4e1;

    text-align: center;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.feature:hover{
    transform: translateY(-10px);
}

.feature img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.feature h3{
    margin: 15px 0;
    color: #004852;
}

.feature p{
    color: #555;
}

/* ===========================
   Footer
=========================== */

footer{
    background-color: #004852;
    color: #fff4e1;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}